@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: auto;
}
/* ///////// HEADER ////////////////////////////*/
header > div {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}
.header-div-2 {
  position: relative;
  bottom: 300px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.black-heart {
  width: 20px;
  margin-right: 1rem;
}
#search-button {
  background-color: ;
}
/* Form */
form{
    background-color: rgba(0,0,0,.05);    
}
#search-button {
  background-color: #fb3e44;
  color: white;
}
/*//////////////SECTION 1///////////////*/
#section-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  background-color: rgba(245, 120, 120, 0.233);
  flex: 3;
  height: 600px;
}

h2{
  font-size: 5rem;
  margin-bottom: -1.2rem;
  margin-top: -7.5rem;
}
#section-1 article {
  font-size: 1.2rem;
  padding: 1.4rem;
}

.sec-buttons{
  padding-bottom: 1.2rem;
  font-size: 1.9rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;  
}
.plans {
  background-color: #FB3B49;
  text-decoration: none;
  height: 600px;
  color: white;
  box-shadow: 8px 8px 0 rgba(48, 30, 31, 0.2);
   margin-right: 2.6rem;
   padding: 0.7rem;
}
/* Join for free button*/
.join{
  text-decoration: none;
  color: black;
  margin-left: 2.6rem;
}