@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.black-heart {
  width: 20px;
  margin-right: 1rem;
}

form{
    background-color: rgba(0,0,0,.05);
}

/* SECTION 1 */
#section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: rgba(232,217,217,.3);
}

/* See Plans button */
.plans {
  background-color: #FB3B49;
  text-decoration: none;
  height: 600px;
  color: white;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
/* Join for free button*/
.join{
  text-decoration: none;
  color: black;
}