@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: auto;
}
/* ///////// HEADER ////////////////////////////*/
header > div {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

.header-div-2 img {
   height: 35%;
}

header form{
  width: 55%;
}
header div:nth-child(2) {
  height: 8.5%;  
}
 
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.black-heart {
  width: 20px;
  margin-right: 1rem;
}

/* Form */
form input{
  background-color: rgba(0,0,0,.05); 
  width: 80%;  
}
header-div-2 {
  width: 500px;
  flex-direction: row;
}
form img {
  background-color: rgba(0,0,0,.05);
  margin-right: -0.3rem;
}
.header-buttons {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.808);
  background-color: white;
}
 
.header-buttons :nth-child(1) {
  box-shadow: 8px 8px 0 rgba(150, 161, 159, 0);
}

#search-button {
  background-color: #fb3e44;
  color: white;
}
/*//////////////SECTION 1///////////////*/
#section-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  background-color: rgba(245, 120, 120, 0.233);
  flex: 3;
  height: 600px;
}

h2{
  font-size: 5rem;
  margin-bottom: -1.2rem;
  margin-top: -7.5rem;
}
#section-1 article {
  font-size: 1.2rem;
  padding: 1.4rem;
}

.sec-buttons{
  padding-bottom: 1.2rem;
  font-size: 1.9rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;  
}
.plans {
  background-color: #FB3B49;
  text-decoration: none;
  color: white;
  box-shadow: 8px 8px 0 rgba(48, 30, 31, 0.2);
   margin-right: 2.6rem;
   padding: 0.7rem;
}
/* Join for free button*/
.join{
  text-decoration: none;
  color: black;
  margin-left: 2.6rem;
}

/*//////////////SECTION 2///////////////*/
.garbage {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  font-size: 2.2rem;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  margin: 2rem 5.4rem;
}
#article-2{
  font-style: italic;
  justify-content: center;
  margin-left: 1.6rem;
}

#section-2 img {
   height: 12.5rem;
   width: 21.6rem;
   margin-top: 1.3rem;
 }
 /*//////////////SECTION 3///////////////*/
 
#section-3  #features-container{
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: -1.4rem;
}

 #section-3 h4 {
  color: #ED1C24;
}

.features img{
  height: 1.7rem;
  width: 1.8rem;
}
 
.features p{
  /* font-size: 1rem; */
}

#org-button{
  text-decoration: none;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  background-color: black;
  color: white;
  margin-left: 46.5%;
  width: 100%;
}
